<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:replace="~{fragments/fragments :: head}">
	</link>
</head>

<body>
	<!--header-->
	<header th:replace="~{fragments/fragments :: header('foods')}">
	</header>
	<!--main-->
	<main>
		<div class="container d-flex justify-content-center ">
			<div class="row justify-content-center">
				<th:block th:if="${foods.size > 0}">
					<h1 class="text-center mt-3"> Il Nostro Menu</h1>
					<!--SEARCH-->
					<div class="row my-3 ms-2 justify-content-end">
						<a class="col-auto btn btn-dark" th:href="@{/foods/create}">Add food</a>
						<form class="col-auto d-flex ms-auto" th:action="@{/foods/search/}" method="get">
							<input class="form-control me-2" placeholder="Search" aria-label="Search" value="Search"
								th:field="${search.name}">
							<button class="btn btn-dark" type="submit">Search</button>
						</form>
					</div>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Description</th>
								<th scope="col">Price</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="food : ${foods}">
								<td th:text="${food.id}"></td>
								<td th:text="${food.name}"></td>
								<td th:text="${food.description}"></td>
								<td th:text="|${food.price} €|">
								<td>
									<a th:href="@{/foods/show/{id}(id=${food.id})}"
										class="btn btn-dark btn-sm dark">Show</a>
									<a th:href="@{/foods/edit/{id}(id=${food.id})}"
										class="btn btn-dark btn-sm ml-2">Edit</a>
									<form method="GET" th:action="@{/foods/delete/{id}(id=${food.id})}" class="d-inline">
										<button type="submit" class="btn btn-dark btn-sm ml-2">Delete</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</th:block>
				<th:block th:unless="${foods.size > 0}">
					<h1 class="text-center mt-3">no foods found</h1>
					<a class="col-auto btn btn-dark  mb-3" th:href="@{/foods/create}">Add food</a>
					<!--SEARCH-->
					<form class="d-flex ms-auto" th:action="@{/foods/search/}" method="get">
						<input class="form-control me-2" placeholder="Search" aria-label="Search" value="Search"
							th:field="${search.name}">
						<button class="btn btn-dark" type="submit">Search</button>
					</form>
				</th:block>
			</div>
		</div>
	</main>
	<!--footer-->
	<footer>

	</footer>
</body>
<!--scripts-->
<th:block th:replace="~{fragments/fragments :: scripts}">
	</th>

</html>